{% include "templates/LICENSE.rst.template" %}

This license pertains only to the NengoFPGA interface software. License information
for the supported hardware implementations can be found at their respective license
pages:

* `NengoDE1 <https://www.nengo.ai/nengo-de1/license.html>`_
* `NengoPYNQ <https://www.nengo.ai/nengo-pynq/license.html>`_

Licensed Code
=============

NengoFPGA imports or vendorizes several open source libraries.

* `NumPy <https://numpy.org/>`_ - Used under
  `BSD license <https://numpy.org/doc/stable/license.html>`__
* `Sphinx <https://www.sphinx-doc.org/>`_ - Used under
  `BSD license <https://github.com/sphinx-doc/sphinx/blob/master/LICENSE>`__
* `numpydoc <https://github.com/numpy/numpydoc>`_ - Used under
  `BSD license <https://github.com/numpy/numpydoc/blob/master/LICENSE.txt>`__
* `IPython <http://ipython.org/>`_ - Used under
  `BSD license <https://github.com/ipython/ipython/blob/master/COPYING.rst>`__
* `Paramiko <https://www.paramiko.org/>`_ - Used under
  `LGPL license <https://github.com/paramiko/paramiko/blob/master/LICENSE>`__
* `matplotlib <https://matplotlib.org/>`_ - Used under
  `modified PSF license <https://matplotlib.org/users/license.html>`__
* `Pillow <https://github.com/python-pillow/Pillow>`__ Used under
  `Open Source PIL Software License <https://github.com/python-pillow/Pillow/blob/master/LICENSE>`__
